<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title><%= title %></title>
    </head>
    <%= bodyTag %>
    <script>
        Neo = self.Neo || {}; Neo.config = Neo.config || {};

        Object.assign(Neo.config, {
            appPath             : '<%= appPath %>',
            basePath            : '<%= basePath %>',
            environment         : '<%= environment %>',
            themes              : [<%= themes %>],
            useAmCharts         : <%= useAmCharts %>,
            useMapboxGL         : <%= useMapboxGL %>,
            useMarkdownConverter: <%= useMarkdownConverter %>,
            workerBasePath      : '<%= workerBasePath %>'
        });
    </script>
    <script src="<%= mainPath %>"></script>
    </body>
</html>